
<html lang="en">
	<head>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<h1> Visualize Artists</h1>
		<script> var artistList = <%- JSON.stringify(artists) %>;</script>
		<script src='/d3/d3.min.js'></script>
	</head>

	<body>
		<svg width="960" height="500">
			<% artists.forEach(function(artist){ %>
				<circle cx="480" cy="250" r ="10"></circle>
			<% }); %>
		</svg>
		<script type="text/javascript">
			var svg = d3.select("svg");
			margin={top:30, right:70, bottom: 30, left:70},
			width = +svg.attr("width") - margin.left - margin.right,
			height = +svg.attr("height") - margin.top - margin.bottom;

			var circles = d3.selectAll("circle");

			circles.style("fill","rgb(255,40,40,.05)")
			.data(artistList)
			.transition()
			.attr("r", function(d,i){
				return d.count*2;
			})
			.duration(1000)
			.delay(500)
			.ease("sinInOut");

			var artistNodeGraph = function(){
				var width = 960,
				height = 500;

				function graph(selection){

				}

				return chart;
			}
		</script>	


		<h2 class="text-center text-muted">Artists to Visualize</h2>
		<ul>
			<% artists.forEach(function(artist){ %>
				<li><%= artist.name %> - <%= artist.count %></li>
			<% }); %>
		</ul>

	</body>
</html>